
.Departments{
    grid-row: span 9;
    grid-column:  span 2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}
.HeadOfDepartments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 90%;
}
.HeadOfDepartmentsBtns{
    display: flex;

}
.BodyOfDepartments{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    background-color: #fff;
}
.TheListOfFaculty{
    display:flex;
    flex-direction: column;
    background-color: lightgray;
    width: 90%;
    height: 85%;
    border-radius: 10px;
}
.FacultyBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 20%;
    width: 90%;
}
.FacultyBar .DepartmentsBox{
    height: 70%;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px ;
    background-image: linear-gradient(to  left, #450129 , #10062B);
}
.FacultyBar .DepartmentsBox p{
    font-size: small;
    margin: 0;
    text-align: center;
}
.FacultyBar .BoxContinar{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
}
.FacultyRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.FacultyRow div {
    font-size: larger;
    color: #450129;
    gap: 20px;
}
.icons{
    display: flex;
}
.Departments .cheakboxclassName{
    display: flex;
    align-items: center;
 }
 .Departments .cheakboxclassName input{
  transform: scale(2);

 }
 .Departments p{
    margin: 0;
 }