
.RightUpSide{
    grid-column: span 2;
    grid-row: span 3;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: flex-start;
 }
 #root {
   display: grid;
   grid-template-columns: 15% 1fr 1fr 10%;
   grid-template-rows: repeat(10,1fr);
   height: 100vh;
   width: 100vw;
   margin: 0;
   transition: all 1s linear;
   }


.InfoCardsContiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: span 3;
    grid-row: span 2;
    width: 100%;
    background-color: #e9ecef;

 } 
 .InfoCard{
    width: 25%;
    border-radius: 16px;
    background-image: linear-gradient(to bottom right, #10062B , #450129);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 2s;
    height: 90%;
    
 }
 .InfoCard:hover{
    background-image: linear-gradient(to  right, #450129 , #10062B);
 }

 .InfoCard *{
    margin: 0 0 0 10%;

 }
 .InfoCard a{
    margin-top: 10%;
    color: blue!important;
 }
 .theList{
    grid-row: span 6;
    grid-column:  span 3 ;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    margin-top: 25px;
 }
 .theList button{
   width: 30%;
   height: 35px;
    font-size:7px;
    display: flex;
    justify-content: space-around;
    align-items: center;

 }
 .theList i{
    margin-right: 5px;
    font-size: 15px;
 }
 .ControlOfTheList{
    width: 90%;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    gap: 1.5%;
 }
 .Thetable{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:90%;
    width: 90%;
    border-radius: 10px;
   margin-top: 10px;
     overflow: scroll;
    background-color: white;
 }
 .Thetable p{
    margin: 0;
 }
 .cheakboxclass{
    display: flex;
    align-items: center;
 }
 .cheakboxclass input{
    width: 15px;
    height: 15px;
    margin:  0 10px 0 0; 
 }
 .rowoftable{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
 }
 .searchbar{
      border-radius: 3px;
    background-color: lightgrey;
    display: flex;
    box-shadow: gray 3px 2px 5px;
 }
 .searchbar input{
    background-color: lightgrey;
    border-radius: 10px;
    height: 25px;
    border: #e5e5e7 0px;
    margin: 0;
 }
 .Thetableofcourses{
    width: 100%;
 }
 .Thetableofcourses .rowoftable{
    font-size: 12px;
 }
 .theListofcourses button{
    width: 20%;
 }
 .isgrid{
   display: grid;
 }
 .isnone{
   display: none;
 }
 #AddManulay{

   
   grid-template-columns: repeat(4,1fr);
   grid-template-rows:  repeat(10,1fr);
   position: absolute;
   width: 60%;
   background-color: #fdfcfc;
   color: #000;
   border-radius: 10px;
   border: solid 0px #e9ecef;
   box-shadow: #000000 -1px 1px 5px 0px;
   padding: 0 20px;
   justify-items: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
 }
 .AddManulay h6{
   grid-row: 1;
   grid-column: span 4;
   text-align: center;
 }
 .AddManulay label{
   grid-column: span 1;
   grid-row: span 1;
   left: 0;
   text-align: left;
   width: 70%;
 }
 .AddManulay input{
   grid-column: span 3;
   grid-row: span 1;
   width: 85%;
 }
 .AddManulay button{
   grid-column: span 2;
   grid-row: span 1;
   width: 80%;

   background-color: red;
   border-radius: 5px;
   border: solid 0px red;
 }